@page
@model IdentityService.Pages.Register.Index

<div class="">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Register</h2>
                </div>
                <div class="card-b">
                    Form goes here
                </div>
            </div>
        </div>
    </div>
</div>
